.root {
    -fx-accent: #171717;
    -fx-focus-color: -fx-accent;
    -fx-base: #3b3b3b;
    -fx-control-inner-background: derive(-fx-base, 100%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
    -fx-font-size: 14;
    -fx-font-family: "Roboto Light";
    -fx-default-button: #474747;
}

.label {
    -fx-text-fill: lightgray;
}

.text-field {
    -fx-prompt-text-fill: #808080;
}

.button {
    -fx-focus-traversable: false;
}

.button:hover {
    -fx-text-fill: white;
}

.menu-item {
    -fx-background-color: -fx-base;
}

.menu-item:focused {
    -fx-background-color: #171717;
}
